.square{
    width: 40px;
    height: 40px;
    
}

.highlighted{
    background: green;   
}

.unhighlighted{
    background: blue;   
}

#start{
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    background: orange;
    height: 20px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    font-family: Arial;
}

#win{
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    background: yellow;
    height: 110px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    font-family: Arial;
}